.form-border {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 20px;
  width: auto;
  max-width: 100%;
  min-width: 500px;
  margin: 1em;
}
.app-header {
  margin-bottom: 20px;
  border-bottom: 3px solid var(--clr-primary);
}
.app-header a {
  color: #fff !important;
}

.btn {
  background-color: var(--clr-primary) !important;
  color: var(--clr-font) !important;
}
.btn-submit {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

/* Footer */

.app-footer {
  align-items: center;
  background-color: var(--clr-bcg);
  border-top: 3px solid var(--clr-primary);
  padding: 0 2em;
  position: absolute;
  min-height: 75px;
  bottom: 0;
  right: 0;
  left: 0;
}
.copy-right p {
  color: #fff;
}

.app-footer a {
  color: var(--clr-font);
  font-size: medium;
}

/* To ensure footer stays at the bottom */
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 100px;
}
