:root {
  --clr-bcg: #075b81;
  --clr-bcg-shadow: #094a68;
  --clr-font: #fff;
  --clr-primary: #f5650b;
  --clr-secondary: #fff;
  --clr-primary-shadow: #b34a0a;
  --clr-secondary-shadow: rgb(238, 235, 235);
}

body {
  background-color: #fff !important;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: var(--clr-bcg);
  padding: 20px;
}

a {
  color: var(--clr-primary) !important;
}
main {
  padding: 20px;
}
