/* Header */
.app-header {
  justify-content: space-between !important;
}
.app-header a {
  color: #fff !important;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: var(--clr-primary) !important;
}
.app-header .btn a:hover {
  color: var(--clr-primary) !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.logo {
  width: fit-content;
  height: fit-content;
}

.nav-list {
  font-size: 22px;
  align-items: center;
}
#nav-signup-btn {
  background-color: var(--clr-primary) !important;
  color: #fff !important;
  width: fit-content;
}
#nav-signup-btn:hover {
  background-color: var(--clr-secondary) !important;
  color: var(--clr-primary) !important;
}

#nav-signup-btn:hover a {
  color: var(--clr-primary) !important;
}

/* 
===============
    Buttons
===============
*/
.btn {
  background-color: var(--clr-bcg) !important;
  color: var(--clr-font) !important;
  min-width: 5rem;
  min-height: 2rem;
}
.btn-primary {
  background-color: var(--clr-primary) !important;
  border-color: var(--clr-primary) !important;
}
.btn.btn-primary:hover {
  background-color: var(--clr-primary-shadow) !important;
}

.btn:hover {
  background-color: var(--clr-bcg-shadow) !important;
}

.btn-submit {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.btn-link {
  background-color: transparent !important;
  border-width: 0 !important;
}

.frame {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 20px;
  min-width: 40rem;
  max-width: 60rem;
  margin: 1em;
}

/* 
===============
    Forms
===============
*/
.form-check {
  border-radius: 2px;
  margin: 5px;
  border: 5px solid #fff;
}
.form-check-disabled {
  border-color: lightgrey;
  background-color: lightgrey;
}
.form-group {
  min-width: 20rem;
}
.form-label {
  color: var(--clr-bcg);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

/* 
===============
    Cards
===============
*/

.card {
  margin-top: 60px;
  border: 3px solid #ccc !important;
  border-radius: 8% !important;
  min-height: 400px !important;
  max-width: 450px;
  text-align: center;
}
.card-image-rounded {
  overflow: hidden;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: -60px auto 0 auto;
}
.card-image-rounded img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding-top: 30px !important;
}

/* 
===============
    Footer
===============
*/
.app-footer {
  align-items: center;
  background-color: var(--clr-bcg);
  border-top: 3px solid var(--clr-primary);
  padding: 0 2em;
  position: absolute;
  min-height: 75px;
  bottom: 0;
  right: 0;
  left: 0;
}
.copy-right p {
  color: #fff;
  display: flex;
  align-items: center;
}

.app-footer a {
  font-size: 1.2rem;
}
.footer-links a {
  color: var(--clr-font) !important;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
.app-footer a:hover {
  color: var(--clr-font) !important ;
}

/* 
===============
To ensure footer stays at the bottom 
===============
*/
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 100px;
}

#brand {
  color: #fff;
  font-size: 50px;
}

/* 
===============
  Home Page
===============
*/

.home-container {
  background-color: var(--clr-bcg);
  color: var(--clr-font);
  font-size: 20px;
  width: 100%;
  max-height: 100%;
  height: 35rem;
  padding-top: 6em;
  line-height: 4em;
}

.home-buttons button {
  width: 22rem;
}
.home-text {
  font-style: italic;
}
#home-login-btn {
  background-color: transparent !important;
  border: 2px solid var(--clr-primary);
}
#home-login-btn:hover {
  background-color: var(--clr-primary) !important;
  border: 2px solid var(--clr-primary);
}

#home-signup-btn {
  background-color: transparent !important;
  border: 2px solid var(--clr-secondary);
  color: var(--clr-font) !important;
}

#home-signup-btn:hover {
  background-color: var(--clr-secondary) !important;
  color: var(--clr-primary) !important;
}

.modal {
  background-color: rgb(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: flex !important;
}

/* 
===============
Google
===============
*/

.google-login {
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
  border: 2px solid #ccc;
  padding: 5px 10px;
  background-color: #fff;
}
.google-login:hover {
  box-shadow: 2px 1px #ccc;
}

.google-login img {
  width: fit-content;
  height: fit-content;
}

.google-login strong {
  margin: 0 10px;
  font-size: 1.3rem;
}

.clr-danger {
  color: var(--clr-danger);
}

.modal-lg {
  width: 50vw !important;
  max-width: 85vw;
}
