:root {
  --clr-bcg: #075b81;
  --clr-bcg-shadow: #094a68;
  --clr-font: #fff;
  --clr-primary: #f5650b;
  --clr-secondary: #fff;
  --clr-primary-shadow: #b34a0a;
  --clr-secondary-shadow: rgb(238, 235, 235);
  --clr-danger: #dc3545;
}

body {
  background-color: #fff !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  font-family: "Comfortaa", "DejaVu Sans", "Verdana", "sans‑serif" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: var(--clr-bcg);
  padding: 20px;
}

a {
  color: var(--clr-primary) !important;
}
main {
  padding: 20px;
}

p, li {
  font-size: 18px;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avro";
} */

/* 
===============
    Fonts
===============
*/

@font-face {
  font-family: "Avro";
  src: url("./assets/fonts/Arvo/Arvo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa/static/Comfortaa-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
