<nav class="navbar navbar-expand-lg bg-clr-main">
  <a class="navbar-brand" href="#">AAS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Nav bar left buttons -->
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="navbar-brand" href="#">Home</a>
    </li>
    <li class="nav-item active">
      <a class="navbar-brand" href="#">About</a>
    </li>
  </ul>

  <!-- Nav bar Right buttons -->
  <ul class="navbar-nav nav-right-items">
    <li class="nav-item active">
      <a class="navbar-brand" href="#">Login</a>
    </li>
    <li class="nav-item active">
      <a class="navbar-brand" href="#">Sign Up</a>
    </li>
  </ul>
</nav>
