<div class="container">
  <form>
    <div class="form-group">
      <label for="email">AUC Email</label>
      <input
        ngmodel
        type="email"
        id="email"
        name="email"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="password"> Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
      />
    </div>
    <button class="btn btn-primary bg-clr-main" type="submit">Submit</button>
  </form>
</div>
